<div class="container">
  <nav class="navbar navbar-inverse" role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'products'}}Home{{/link-to}}</li>
      <li>{{#link-to 'new-product' classNames='btn btn'}}Add New Product{{/link-to}}</li>
      <li>{{#link-to ''}}link{{/link-to}}</li>
      <li>{{#link-to ''}}link{{/link-to}}</li>
      <li>{{#link-to ''}}link{{/link-to}}</li>
    </ul>
  </nav>

  {{outlet}}
</div>
